// project vars
$white-1: #FFFFFF;
$white-2: #F8FBFF;
$white-3: #F5F5F5;

$text: #2E3A59;
$grey-1: #E7EBF0;
$grey-2: #A6ABBD;

$highlight: #00C368;
$highlight-shadow: rgba($highlight, 0.4);

$gold: #FFD058;
